@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixins";

* {
    margin: 0 auto;
}

body {
    background-color: $darkblue;
    font-family: Inter;
    color: $white;
    height: 956px;

    @include desktop {
        width: 1440px;
        height: 800px;
    }
}

.card {
    color: $white;
    background-color: $darkpurple;
    width: 327px;
    height: 780px;
    border-radius: 8px;
    margin-top: 88px;

    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        width: 1110px;
        height: 446px;
        margin: 177px;
    }

    &__highlight {
        color: $purple;
    }

    &__content {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        width: 100%;
        height: 240px;
        border: none;
        border-radius: 8px 8px 0 0;
        background-image: url(././images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: multiply;
        opacity: 0.75;

        @include desktop {
            background-image: url(././images/image-header-desktop.jpg);
            width: 540px;
            height: 446px;
        }
        
        &-overlay {
            background-color: $purple;
            border-radius: 8px 8px 0 0;
            height: 240px;

            @include desktop {
                width: 540px;
                height: 446px;
            }
        }
    }

    &__header {
        width: 264px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        margin-top: 40px;

        @include desktop {
            width: 403px;
            height: 88px;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            margin-top: 71px;
            margin-left: 72px;
            margin-right: 95px;
        }
    }

    &__info {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        width: 264px;
        height: 100px;
        margin-top: 16px;
        mix-blend-mode: normal;
        opacity: 0.75;

        @include desktop {
            width: 374px;
            height: 75px;
            font-size: 15px;
            line-height: 25px;
            text-align: left;
            margin-top: 25px;
            margin-left: 71.5px;
            margin-right: 124.5px;
        }
    }

    &__stats {
        font-size: 2rem;
        list-style: none;
        margin-top: 40px;
        width: 264px;
        text-align: center;
        padding-right: 32px;
        padding-left: 31px;

        @include desktop {
            display: flex;
            flex-direction: row;
            width: 374px;
            margin-right: 87px;
            margin-top: 72px;
            text-align: left;
        }

        &-num {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 2px;

            @include desktop {
                margin-right: 60px;
            }
        }

        &-text {
            font-size: 12px;
            line-height: 25px;
            letter-spacing: 1px;
            opacity: 60%;
            margin-bottom: 24px;

            @include desktop {
                padding-right: 60px;
            }
        }
    }
}
